<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CertificateServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CertificateServlet</display-name>
    <servlet-name>CertificateServlet</servlet-name>
    <servlet-class>it.certificates.CertificateServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>it.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>it.authentication.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TwoFactorsServlet</display-name>
    <servlet-name>TwoFactorsServlet</servlet-name>
    <servlet-class>it.authentication.twosteps.TwoStepsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HashServlet</display-name>
    <servlet-name>HashServlet</servlet-name>
    <servlet-class>it.test.hash.HashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashServlet</servlet-name>
    <url-pattern>/HashServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CertificateServlet</servlet-name>
    <url-pattern>/getCertificate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/authenticate/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwoFactorsServlet</servlet-name>
    <url-pattern>/twofactors/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>CertificateServlet</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RegistrationServlet</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AuthenticationServlet</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>TwoFactorsServlet</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <filter-name>noCache</filter-name>
    <filter-class>com.samaxes.filter.NoCacheFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>noCache</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<filter>
    <filter-name>noEtag</filter-name>
    <filter-class>com.samaxes.filter.NoETagFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>noEtag</filter-name>
    <servlet-name>default</servlet-name>
</filter-mapping>
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>it.webfilters.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CSPPoliciesApplier</display-name>
    <filter-name>CSPPoliciesApplier</filter-name>
    <filter-class>it.webfilters.CSPPoliciesApplier</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CSPPoliciesApplier</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ContactListFilter</display-name>
    <filter-name>ContactListFilter</filter-name>
    <filter-class>it.authorization.ContactListFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContactListFilter</filter-name>
    <url-pattern>/contact-lists/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>InterceptorFilter</display-name>
    <filter-name>InterceptorFilter</filter-name>
    <filter-class>it.authorization.InterceptorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InterceptorFilter</filter-name>
    <url-pattern>/policy/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WholeProtection</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>